<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>jython-tutorial-ws</servlet-name>
    <servlet-class>JythonTutorialServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cdn</servlet-name>
    <servlet-class>CdnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>slash</servlet-name>
    <servlet-class>SlashServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jython-tutorial-ws</servlet-name>
    <url-pattern>/ws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cdn</servlet-name>
    <url-pattern>/cdn/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>slash</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
