body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}
#account_status {
    float: right;
}
#account_status_pending {
    font-style: italic;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}